# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/listas_lp2/.classpath
/listas_lp2/.project
/listas_lp2/.gitignore
/listas_lp2/bin
/listas_lp2/.settings
/ProjetoIndivual/.classpath
/ProjetoIndividual/.project
/ProjetoIndividual/.gitignore
/ProjetoIndividual/bin
/ProjetoIndividual/.settings
